.App {
  text-align: left;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6rem 1fr;
  grid-template-areas: "header header" "meteors map";
}

.grid-header { grid-area: header; }

.grid-meteor-list { grid-area: meteors; }

.grid-meteor-map { grid-area: map; }

td {
  border: solid 1px #DDD;
  padding: .5rem;
}

#map {
    height: 600px;
 }

 .leaflet-container {
  /* to fill the CSS grid cell */
  height: 100%;
  width: 100%;
}
