.App {
  text-align: left;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem 1fr;
  grid-template-areas: "header header" "meteors map";
}

.grid-header { grid-area: header; }
.grid-meteor-list { grid-area: meteors; height: calc(95vh - 10rem); overflow-y: scroll; }
.grid-meteor-map { grid-area: map;}

.grid-header {
  border-bottom: solid 1px hsl(212, 45%, 77%);
  margin-bottom: 2rem;
}

td {
  border: solid 1px #DDD;
  padding: .5rem;
}

#map {
    height: 600px;
}

 .leaflet-container {
  /* to fill the CSS grid cell */
  height: 100%;
  width: 100%;
}

